<div class="row">
  <div class="col-sm-12 pt-2 pb-2">
    <a class="text-secondary pl-0 font-lg" [routerLink]="['/consultedStudents']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'ConsultedStudentsNav'"></span>
    </a>
  </div>
</div>

<ng-container *ngIf="consultedStudent">
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h2 class="text-dark d-inline mr-2">
        {{consultedStudent.student.familyName}} {{consultedStudent.student.givenName}}
      </h2>
    </div>
  </div>
  <div *ngIf="!loading && consultedStudent.active && !modelTabs">
    <div class="alert alert-warning alert-dismissible show" role="alert">
      <div translate="ConsultedStudents.NoConsent.Message"></div>
      <div translate="ConsultedStudents.NoConsent.HowTo"></div>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <div class =" d-none d-md-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['details']" [routerLinkActive]="'active'" [translate]="'ConsultedStudents.General'"> </a>
        </li>
        <li class="nav-item" *ngIf="!loading && consultedStudent.active && modelTabs">
          <a class="nav-link" [routerLink]="['courses']" [routerLinkActive]="'active'" [translate]="'ConsultedStudents.Courses'"></a>
        </li>
        <li class="nav-item" *ngIf="!loading && consultedStudent.active && modelTabs">
          <a class="nav-link" [routerLink]="['registrations']" [routerLinkActive]="'active'" [translate]="'ConsultedStudents.Registrations'"></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="clear-content-area mb-3">
    <ul class="nav s--nav-tabs d-md-none bg-white d-flex justify-content-around">
      <li class="nav-item font-sm w-33">
        <a class="nav-link text-dark" [routerLink]="['details']" [routerLinkActive]="'active'"  [translate]="'ConsultedStudents.GeneralShort'"> </a>
      </li>
      <li class="nav-item font-sm w-33">
        <a class="nav-link text-dark" [routerLink]="['courses']" [routerLinkActive]="'active'" [translate]="'ConsultedStudents.Courses'"></a>
      </li>
      <li class="nav-item font-sm w-33">
        <a class="nav-link text-dark"  [routerLink]="['registrations']" [routerLinkActive]="'active'" [translate]="'ConsultedStudents.Registrations'"></a>
      </li>
    </ul>
  </div>


  <div>
    <router-outlet ></router-outlet>
  </div>
</ng-container>
<ng-container *ngIf="!loading && !consultedStudent">
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text"  [translate]="'NotAvailableFeature.ClassNotAvailable'"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <router-outlet ></router-outlet>
    </div>
  </div>
</ng-container>
