<div class="mt-4">
  <div class="card-body">
    <form #responseForm="ngForm">
      <div *ngIf="this.instructor.email != null; else noEmail">
      <div class="row">
        <div class="col-sm-12">
          <div class="title font-lg pb-3" align="center"> <h2>{{'Modals.ModalSendEmailTitle' | translate}}</h2>
            <div>{{'Messages.ToExamParticipants.Description' | translate}}</div>
            <div>{{ courseExam.description}}</div>
            <div>{{'Messages.ToExamParticipants.Clarification' | translate}}</div>
          </div>
          <div class="form-group">
            <label class="font-lg text-secondary" for="subject" [translate]="'Messages.toStudents.Subject'"></label>
            <textarea class="form-control" id="subject" rows="1" required [(ngModel)]="messageModel.subject"
                      [maxLength]="512" name="subject"
                      placeholder="{{'Messages.toStudents.SubjectPlaceHolder' | translate}}"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="font-lg text-secondary" for="response" [translate]="'Messages.toStudents.Body'"></label>
            <textarea class="form-control" id="response" rows="3" required [(ngModel)]="messageModel.body"
                      [maxLength]="8000" name="messageBody"
                      placeholder="{{'Messages.ToExamParticipants.BodyPlaceHolder' | translate}}" ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label class="font-lg text-secondary" for="filename" [translate]="'Messages.toStudents.AttachFiles'"></label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="form-control custom-file-input" id="filename" aria-describedby="filename" name="filename" (change)="onFileChanged($event)" (click)="reset($event)" #fileInput  >
                <label class="custom-file-label text-placeholder" for="filename" [translate]="'Messages.toStudents.AttachFilesPlaceHolder'">{{messageModel?.file?.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-md-12 text-center">
          <button class="btn btn-outline-secondary mr-2 btn-cancel" type="button" [translate]="'Modals.close'" (click)="closeModal()"></button>
          <button class="btn btn-md text-light ml-2 bg-success px-4" type="button" (click)="sendMessage();closeModal()" [translate]="'Buttons.Send'" [disabled]="responseForm.invalid"></button>
        </div>
    </div>
      </div>
      <ng-template #noEmail>
        <div class="title font-lg text-danger pb-3">{{'Messages.MessageNotifications.UnregisteredEmail' | translate}}</div>
        <div class="col-12 col-md-12 text-center">
          <button class="btn btn-outline-secondary mr-2 btn-cancel" type="button" [translate]="'Modals.close'" (click)="closeModal()"></button>
        </div>
      </ng-template>
    </form>
  </div>
</div>
