.search-filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: auto;
    padding-bottom: auto;
    border: 1px solid #C2CFD6;
    border-radius: 6px;
    background-color: #F0F3F5;
}

.counter {
    font-size: 1.2rem;
    opacity: .8;
    padding: .5em 0;

    .name {
        font-size: 0.85em;
        text-transform: lowercase;
    }
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}