<div>
  <!-- Search -->
  <div class="m-lg-3">
    <div class="theses_search_filters">
    </div>
    <div class="mt-2">
      <div class="mt-4">
        <div class="row">
          <div class="col">
            <div>
              <div *ngIf="this.count > 1 || this.count == 0"
                class="mt-1 text-right text-secondary font-xl sis-brand-bold">
                {{this.count}} {{'iTheses.Results' | translate}}</div>
              <div *ngIf="this.count === 1" class="mt-1 text-right text-secondary font-xl sis-brand-bold">
                {{this.count}}
                {{'iTheses.Result' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-4 ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->
  <div *ngIf="!isLoading">
    <div class="d-flex flex-row">
      <div class="main px-3" id="inner__content">

        <div *ngIf="thesisProposal">
          <div class="mt-3" *ngIf="thesisProposal.actions.length === 0">
            <div class="card" >
              <div class="card-body">
                <div class="container-fluid" >
                  <div class="row">
                        <p>{{ 'iTheses.ThesisProposals.NotFound' | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="thesisProposal">
          <div class="mt-3">
            <div class="card" *ngFor="let std of thesisProposal.students; let i = index">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="mobile-show">

                      <div class="col col-lg-8 col-md-10 col-sm-12 col-xs-12 row cursor-pointer" type="button"
                        [routerLink]="['/thesis-proposals/thesis', std.id]">
                        <div>
                          <h5> ({{std.studentIdentifier}}) {{std.familyName}} {{std.givenName}}
                          </h5>
                        </div>
                      </div>
                      <div class="mb-2 ">
                        <span title="{{ 'iTheses.StudentStatus' | translate }}" class="text-secondary mr-3 "><i
                            class="fa fa-flag pr-1"></i>{{ std?.studentStatus}}</span>
                        <span class="text-secondary mr-3 text-nowrap"
                          title="{{ 'iTheses.StudentSemester' | translate }}"><i class="fa fa-flag pr-1"></i>{{
                          std?.studentSemester }}</span>
                        <span title="{{ 'iTheses.ThesisProposals.EarliestDateCreated' | translate }}"
                          class="text-secondary mr-3 text-nowrap"><i class="fas fa-calendar pr-1"></i>{{
                          'iTheses.ThesisProposals.EarliestDateCreated' | translate }} {{ std?.earliestDateCreated |
                          date: 'dd-MM-yyyy'}}
                        </span>
                        <span class="text-secondary mr-3 text-nowrap">
                          <i class="fas fa-clock pr-1"></i>{{ std?.earliestDateCreated | date: 'hh:mm'}}</span>
                        <span class="text-secondary mr-3 text-nowrap"
                          *ngIf="std.REQUEST_REJECTED === false && (std.INSTRUCTOR_ACCEPTED === true && std.STUDENT_ACCEPTED === false)">
                          <i class="fas fa-hourglass-half pr-1 text-info"></i>{{'iTheses.ThesisProposals.PendingStudent'
                          | translate}}</span>
                        <div class="mobile-show">
                          <div class="mb-2">
                            <span class="text-secondary mr-3 cursor-pointer" type="button"
                              (click)="toggleMore(i, std.id)">
                              <a *ngIf="!std.show"><i class="fa fa-chevron-down pr-1"></i></a>
                              <a *ngIf="std.show"><i
                                  class="fa fa-chevron-left pr-1"></i></a>{{'iTheses.ThesisProposals.More'
                              | translate}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col col-lg-10 col-md-10 mobile-hidden">
                      <div type="button" [routerLink]="['/thesis-proposals/thesis', std.id]">
                        <div>
                          <h5> ({{std.studentIdentifier}}) {{std.familyName}} {{std.givenName}}
                          </h5>
                        </div>
                      </div>
                      <div class="mb-2">
                        <span title="{{ 'iTheses.StudentStatus' | translate }}" class="text-secondary mr-3"><i
                            class="fa fa-flag pr-1"></i>{{ std?.studentStatus}}</span>
                        <span title="{{ 'iTheses.StudentSemester' | translate }}" class="text-secondary mr-3"><i
                            class="fa fa-flag pr-1"></i>{{ std?.studentSemester }}</span>
                        <span title="{{ 'iTheses.ThesisProposals.EarliestDateCreated' | translate }}"
                          class="text-secondary mr-3"><i class="fa fa-calendar-plus pr-1"></i>{{
                          'iTheses.ThesisProposals.EarliestDateCreated' | translate }} {{ std?.earliestDateCreated |
                          date: 'dd-MM-yyyy hh:mm'}}</span>
                      </div>
                      <div class="mb-2"
                        *ngIf="std.REQUEST_REJECTED === false && std.INSTRUCTOR_ACCEPTED === true && std.STUDENT_ACCEPTED === false">
                        <span class="text-secondary mr-3">
                          <a><i
                              class="fas fa-hourglass-half pr-1 text-info"></i></a>{{'iTheses.ThesisProposals.PendingStudent'
                          | translate}}
                        </span>
                      </div>
                      <div class="mb-2">
                        <span class="text-secondary mr-3 cursor-pointer" type="button" (click)="toggleMore(i, std.id)">
                          <a *ngIf="!std.show"><i class="fa fa-chevron-down pr-1"></i></a>
                          <a *ngIf="std.show"><i
                              class="fa fa-chevron-left pr-1"></i></a>{{'iTheses.ThesisProposals.More'
                          | translate}}
                        </span>
                      </div>
                      <div class="row mt-4 mb-4" *ngIf="std.show && std.show === true">
                        <div class="col-12">
                          <ul class="sis--list-group sis--list-group-body">
                            <li class="sis--list-group-item">
                              <div class="d-flex justify-content-center align-items-center list-color">
                                <div class="sis--list-group-item_lg_column">
                                  <span class="text-secondary" [innerHTML]="std.notes">
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col col-lg-2 col-md-4 mobile-hidden">
                      <div class="col col-lg-12 col-md-12 float-right">
                        <span class="mr-2 text-secondary">
                          <div class="container-fluid">

                            <ng-container *ngIf="std.REQUEST_REJECTED === false">
                              <ng-container *ngIf="std.INSTRUCTOR_ACCEPTED === true && std.STUDENT_ACCEPTED === false">
                                <div class="row  align-items-center">
                                  <button type="button" class="btn btn-success btn-block"
                                    [ngClass]="{disabled: (std.INSTRUCTOR_ACCEPTED === true)}">
                                    <div class="row">
                                      <div class="col-12 text-nowrap">
                                        {{'iTheses.ThesisProposals.AcceptAction' | translate}} <i
                                          class="fa fa-check fa-sm"></i>
                                      </div>
                                    </div>
                                  </button>
                                  <button type="button" class="btn btn-light btn-block"
                                    (click)="rejectStudentModal(templateStudentReject,std)">
                                    <div class="row text-secondary">
                                      <div class="col-12 text-nowrap">
                                        {{'iTheses.ThesisProposals.RejectAction' | translate}} <i
                                          class="fa fa-remove fa-sm text-secondary"></i>
                                      </div>
                                    </div>
                                  </button>
                                </div>
                              </ng-container>

                              <ng-container
                                *ngIf="std.INSTRUCTOR_ACCEPTED === false && std.STUDENT_INTERESTED === true && std.STUDENT_ACCEPTED === false">
                                <div class="row  align-items-center">
                                  <button type="button" class="btn btn-success btn-block"
                                    (click)="acceptStudentModal(templateStudentAccept,std)">
                                    <div class="row">
                                      <div class="col-12 text-nowrap">
                                        {{'iTheses.ThesisProposals.AcceptAction' | translate}} <i
                                          class="fa fa-check fa-sm"></i>
                                      </div>
                                    </div>
                                  </button>
                                  <button type="button" class="btn btn-light btn-block"
                                    (click)="rejectStudentModal(templateStudentReject,std)"
                                    [disabled]="std?.request?.actionStatus=== 'CancelledActionStatus'">
                                    <div class="row text-secondary">
                                      <div class="col-12 text-nowrap">
                                        {{'iTheses.ThesisProposals.RejectAction' | translate}} <i
                                          class="fa fa-remove fa-sm text-secondary"></i>
                                      </div>
                                    </div>
                                  </button>
                                </div>
                              </ng-container>

                              <ng-container *ngIf="std.STUDENT_ACCEPTED === true">
                                <div class="row">
                                  <button type="button" class="btn btn-light btn-block"
                                    [disabled]="std.request && std.request.actionStatus &&  std.request.actionStatus === 'ActiveActionStatus'"
                                    [routerLink]="['/theses/advanced/list/current']">
                                    <div class="row text-secondary">
                                      <div class="col-10">
                                        {{std.request && std.request.actionStatus 
                                        === 'ActiveActionStatus'
                                        ? ('iTheses.ThesisProposals.RegistrarPending' | translate) :
                                        ('iTheses.ThesisProposals.ThesisAssigned' | translate)}}
                                      </div>
                                      <div class="col-2"><i
                                          [ngClass]="std.request && std.request.actionStatus && std.request.actionStatus === 'ActiveActionStatus' 
                                        ? 'fas fa-hourglass-half pr-1 text-info' : 'fas fa-arrow-circle-right fa-sm text-success'"></i>
                                      </div>
                                    </div>
                                  </button>
                                </div>
                              </ng-container>
                            </ng-container>

                            <ng-container *ngIf="std.REQUEST_REJECTED === true">
                              <div class="row">
                                <button type="button" class="btn btn-light btn-block disabled">
                                  <div class="row text-secondary">
                                    <div class="col-10">
                                      <span *ngIf="std.INSTRUCTOR_REJECTED === true">
                                        {{'iTheses.ThesisProposals.InstructorRejected' | translate}}
                                      </span>
                                      <span *ngIf="std.STUDENT_REJECTED === true">
                                        {{'iTheses.ThesisProposals.StudentRejected' | translate}}
                                      </span>
                                      <span *ngIf="!(std.STUDENT_REJECTED === true || std.INSTRUCTOR_REJECTED === true)">
                                        {{ 'iTheses.ThesisProposals.REQUEST_REJECTED'
                                        | translate }}
                                    </span>
                                    </div>
                                    <div class="col-2"><i class="fa fa-times-circle fa-sm text-danger"></i>
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </ng-container>

                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mobile-show">
                  <div class="row mt-4 mb-4" *ngIf="std.show && std.show === true">
                    <div class="col-12">
                      <ul class="sis--list-group sis--list-group-body">
                        <li class="sis--list-group-item">
                          <div class="d-flex justify-content-center align-items-center list-color">
                            <div class="sis--list-group-item_lg_column">
                              <span class="text-secondary" [innerHTML]="std.notes">
                              </span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <span class="mr-2 mobile-show">
                  <div class="container">

                    <ng-container *ngIf="std.REQUEST_REJECTED === false">
                      <ng-container
                        *ngIf="std.INSTRUCTOR_ACCEPTED === false && std.STUDENT_INTERESTED === true && std.STUDENT_ACCEPTED === false">
                        <div class="row">
                          <button type="button" class="btn btn-success btn-block text-center"
                            (click)="acceptStudentModal(templateStudentAccept,std)"><span>
                              {{'iTheses.ThesisProposals.AcceptAction' | translate}} &nbsp;</span><span
                              class="align-self-center"><i class="fas fa-check fa-sm"></i></span>
                          </button>
                          <button type="button" class="btn btn-light btn-block text-center text-secondary"
                            (click)="rejectStudentModal(templateStudentReject,std)"
                            [disabled]="std?.request?.actionStatus=== 'CancelledActionStatus'"><span>
                              {{'iTheses.ThesisProposals.RejectAction' | translate}} &nbsp;</span><span
                              class="align-self-center"><i class="fas fa-remove fa-sm"></i></span>
                          </button>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="std.STUDENT_ACCEPTED === true">
                        <div class="row">
                          <button type="button" class="btn btn-light btn-block text-center text-secondary"
                            [routerLink]="['/theses/advanced/list/current']"
                            [disabled]="std.request && std.request.actionStatus === 'ActiveActionStatus'"><span
                              class="align-self-center text-warning"><i
                                class="fas fa-arrow-circle fa-sm fa-sm"></i></span><span>
                              {{std.request && std.request.actionStatus  === 'ActiveActionStatus'
                              ? ('iTheses.ThesisProposals.RegistrarPending' | translate) :
                              ('iTheses.ThesisProposals.ThesisAssigned' | translate)}}&nbsp;</span>
                            <span class="align-self-center"><i
                                [ngClass]="std.request && std.request.actionStatus  === 'ActiveActionStatus' 
                              ? 'fas fa-hourglass-half pr-1 text-info' : 'fas fa-arrow-circle-right fa-sm text-success'">
                              </i></span>
                          </button>
                        </div>
                      </ng-container>

                    </ng-container>

                    <ng-container *ngIf="std.REQUEST_REJECTED === true">
                      <div class="row">
                        <button type="button" class="btn btn-light btn-block text-center disabled">                                      
                          <span *ngIf="std.INSTRUCTOR_REJECTED === true">
                          {{'iTheses.ThesisProposals.InstructorRejected' | translate}}
                        </span>
                        <span *ngIf="std.STUDENT_REJECTED === true">
                          {{'iTheses.ThesisProposals.StudentRejected' | translate}}
                        </span><span
                            class="align-self-center"><i class="fa fa-times-circle fa-sm text-danger"></i></span>
                        </button>
                      </div>
                    </ng-container>

                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!thesisProposal" class="row mt-3">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <p class="card-text" [translate]="'Theses.ThesisProposals.ThesisProposalsEmpty'"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #templateStudentAccept>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ !!thesisProposal.thesis ?
      ('iTheses.ThesisProposals.InstructorAction.ModalTitle.MoreStudentsAccept'| translate) :
      ('iTheses.ThesisProposals.InstructorAction.ModalTitle.FirstStudentAccept' | translate)}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mt-0 mb-0 text-left">
    <div>
      <p class="text-secondary text-left">{{!!thesisProposal.thesis ?
        ('iTheses.ThesisProposals.InstructorAction.HelpOn.AcceptMoreStudents' | translate) :
        ('iTheses.ThesisProposals.InstructorAction.HelpOn.AcceptOneStudent' | translate) }}
        <b>({{student.studentIdentifier}}) {{student.familyName}} {{student.givenName}}. </b>
      <p *ngIf="!!thesisProposal.thesis" class="text-secondary">
        {{'iTheses.ThesisProposals.InstructorAction.TotalNumberOfStudents' | translate}}: <span
          [ngClass]="!!thesisProposal.thesis ? 'font-weight-bold': ''">{{totalStudentAccept}}</span></p>
      <p class="text-secondary">{{'iTheses.ThesisProposals.InstructorAction.Sure' | translate}}</p>
    </div>
    <form class="text-center">
      <div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submit('CompletedActionStatus')"
            [translate]="'iTheses.ThesisProposals.InstructorAction.Accept'"></button>
          <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
            [translate]="'iTheses.ThesisProposals.InstructorAction.Cancel'"></button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateStudentReject>
  <div class="modal-header">
    <h4 class="modal-title pull-left"
      [translate]="'iTheses.ThesisProposals.InstructorAction.ModalTitle.StudentReject' | translate"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mt-0 mb-0 text-center">
    <div>
      <p class="text-secondary text-left">{{'iTheses.ThesisProposals.InstructorAction.HelpOn.RejectStudent' | translate}}
        <b>({{student.studentIdentifier}}) {{student.familyName}} {{student.givenName}}. </b>
        <br>{{'iTheses.ThesisProposals.InstructorAction.Sure' | translate}}
      </p>
    </div>
    <form class="text-center">
      <div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submit('CancelledActionStatus')"
            [translate]="'iTheses.ThesisProposals.InstructorAction.Reject'"></button>
          <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
            [translate]="'iTheses.ThesisProposals.InstructorAction.Cancel'"></button>
        </div>
      </div>
    </form>
  </div>
</ng-template>